<form action="form" [formGroup]="addForm" (ngSubmit)="agregarEmpleado()">
  <div class="flex flex-column">
    <span class="text-lg mb-4">ADD</span>

    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Nombre de empleado" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Salario</mat-label>
      <input type="text" matInput placeholder="Salario" formControlName="salary">
    </mat-form-field>

    <button mat-raised-button type="submit">
      <mat-icon>save</mat-icon>
      Guardar
    </button>

    <div class="justify-content-end mt-5">
      <a routerLink="/layout/home">regresar</a>
    </div>

  </div>
</form>
