<span class="text-lg mb-4">REGISTRO</span>
<form class="form" action="form" [formGroup]="registroForm" (ngSubmit)="handleRegistration()">
  <div class="flex flex-column">


    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Nombre" formControlName="name" >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input type="text" matInput placeholder="Apellido" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Correo</mat-label>
      <input type="text" matInput placeholder="correo electronico" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="text" matInput placeholder="Nombre de usuario" formControlName="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Repita la contraseña</mat-label>
      <input type="text" matInput placeholder="confirmar contraseña" formControlName="confirmPassword">
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="registroForm.invalid">
      <mat-icon>save</mat-icon>
      Crear Cuenta
    </button>

    <div class="justify-content-end mt-5">
      <a routerLink="/auth/login">Ya tienes cuenta?</a>
    </div>

  </div>
</form>
